@import "tailwindcss";

@theme {
  --font-sans:
    "Roboto Mono", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-RobotoMono: "Roboto Mono";

  --font-Tron: "Tron";

  --color-text: #b7e2dd;

  --color-primarylight: #b7e2dd;
  --color-primary: #02b59f;
  --color-primarydark: #017562;
  --color-primaryblack: #022422;
  --color-secundarylight: #ffd99c;
  --color-secundary: #ff9f03;
  --color-secundarydark: #fd7500;
  --color-background: #1a1d1d;
  --color-grey: #596d6b;
  --color-promptShadow: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --color-backgroundGradiant: linear-gradient(
    135deg,
    rgba(2, 181, 159, 1) 0%,
    rgba(2, 111, 98, 1) 16%,
    rgba(2, 36, 34, 1) 100%
  );

  --text-light: 16px;
  --text-light-rem: 1rem;

  --font-weight-light: "light";
  --font-weight-regular: "regular";

  --text-h1: 68px;
  --text-h1-rem: 4.25rem;

  --font-weight-medium: "medium";

  --text-regular: 20px;
  --text-regular-rem: 1.25rem;

  --font-weight-semibold: "semibold";

  --leading-light: 24px;
  --leading-light-rem: 1.5rem;
  --leading-h1: 72px;
  --leading-h1-rem: 4.5rem;

  --font-weight-bold: "bold";

  --text-h3: 26px;
  --text-h3-rem: 1.625rem;
  --text-h2: 42px;
  --text-h2-rem: 2.625rem;

  --leading-regular: 30px;
  --leading-regular-rem: 1.875rem;
  --leading-h2: 48px;
  --leading-h2-rem: 3rem;
  --leading-h3: 48px;
  --leading-h3-rem: 3rem;

  --container-standard: 90%;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  background-image: var(--color-backgroundGradiant);
}
